.metadata/
firecombat/Barbara-PC.settings.xml
firecombat/jcc.settings.xml
jadex-2.3/
jadex-2.4/
firecombat/Joao-HP.settings.xml
firecombat/bin/commander/CommanderBDI$1.class
firecombat/bin/firecombat/ChatService.class
